.header{
    background-color: #f0f0f0;
    padding: 15px 0;
}
.header-logo img{
    width: 100px;
    display: inline-block;
}
.header-text {
    padding-left: 20px; /* jarak kiri teks dari logo */
}
.header-text h1 {
    font-size: 25px; 
    margin-top: 5px; 
    font-weight: bold; 
    color: #0093DD;
}
.header-text p {
    margin-bottom: 10px;
    font-weight: bold;
}

nav.navbar {
    padding: 10px 0;
}
.navbar-nav .nav-item {
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: white !important; /* warna teks link */
    font-weight: bold;
    font-size: medium;
}
.navbar-nav .nav-item.active .nav-link {
    border-bottom: 3px solid #0093DD;
}
.navbar-nav .nav-link:hover {
    color: #0093DD !important; /* warna teks link saat dihover */
}
.btn.btn-outline-success {
    color: #0093DD;
    border-color: #0093DD;
}
.custom-toggler.navbar-toggler {
    background-color: #f0f0f0;
    border-color: transparent;
}
.custom-toggler.navbar-toggler:hover {
    color: #0093DD; /* warna ikon toggle saat dihover */
}
.search-button {
    margin-right: 10px;
    border-color: #0093DD;
    color: #0093DD;
}

.carousel-inner {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,1));
    padding: 30px;
    color: white;
}
.carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.pengumuman {
    color: #fff; 
    padding: 8px 15px; 
    display: inline-block;
    font-size: 12px;
}
.marquee {
    position: absolute;
    padding: 8px 0;
    color: #fff;
    font-size: 12px
}
.marquee a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}
.marquee a:hover {
    text-decoration: underline;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f0f0;
}
.about img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.about h5 {
    color: #0093DD;
}
.btn-custom {
    background-color: #0093DD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #007bb3;
}

.selayang-pandang {
    color: #fff;
    background-color: #0093DD;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-center-md {
    text-align: center;
}
.text-center-md h2 {
    text-align: center;
    margin-bottom: 20px;
}
.text-center-md p {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
}

.portal-siswa {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}
.portal-siswa h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.portal-siswa .container {
    max-width: 1200px;
    margin-top: 30px;
}

.portal-siswa .card {
    width: 100%;
    margin-bottom: 10px;
}

.portal-siswa .card img {
    width: 100%;
    height: auto;
}

.berita {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}