/* HEADER */
.header{
    background-color: #f0f0f0;
    padding: 15px 0;
}
.header-logo img{
    width: 100px;
    display: inline-block;
}
.header-text {
    padding-left: 20px; /* jarak kiri teks dari logo */
}
.header-text h1 {
    font-size: 25px; 
    margin-top: 5px; 
    font-weight: bold; 
    color: #0093DD;
}
.header-text p {
    margin-bottom: 10px;
    font-weight: bold;
}

/* NAVBAR */
nav.navbar {
    padding: 10px 0;
}
.navbar-nav .nav-item {
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: white !important; /* warna teks link */
    font-weight: bold;
    font-size: medium;
}
.navbar-nav .nav-item.active .nav-link {
    border-bottom: 3px solid #0093DD;
}
.navbar-nav .nav-link:hover {
    color: #0093DD !important; /* warna teks link saat dihover */
}
.btn.btn-outline-success {
    color: #0093DD;
    border-color: #0093DD;
}
.custom-toggler.navbar-toggler {
    background-color: #f0f0f0;
    border-color: transparent;
}
.custom-toggler.navbar-toggler:hover {
    color: #0093DD; /* warna ikon toggle saat dihover */
}
.search-button {
    margin-right: 10px;
    border-color: #0093DD;
    color: #0093DD;
}

/* CAROUSEL */
.carousel-inner {
    position: relative;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,1));
    padding: 30px;
    color: white;
}
.carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

/* PENGUMUMAN */
.pengumuman {
    color: #fff; 
    padding: 8px 15px; 
    display: inline-block;
    font-size: 12px;
}
.marquee {
    position: absolute;
    padding: 8px 0;
    color: #fff;
    font-size: 12px
}
.marquee a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}
.marquee a:hover {
    text-decoration: underline;
}

/* ABOUT */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f0f0;
}
.about img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.about h5 {
    color: #0093DD;
}
.btn-custom {
    background-color: #0093DD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #007bb3;
}

/* SELAYANGPANDANG */
.selayang-pandang {
    color: #fff;
    background-color: #0093DD;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-center-md {
    text-align: center;
}
.text-center-md h2 {
    text-align: center;
    margin-bottom: 20px;
}
.text-center-md p {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
}

/* PORTAL */
.portal-siswa {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}
.portal-siswa h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    position: relative;
}
.portal-siswa h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #3498db;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
}
.portal-siswa .container {
    max-width: 1200px;
    margin-top: 30px;
}

.portal-siswa .card {
    width: 100%;
    margin-bottom: 10px;
}

.portal-siswa .card img {
    width: 100%;
    height: auto;
}

hr {
    border: 4px solid black;
    border-bottom: none; 
    margin: 0; /* Menghilangkan margin */
    padding: 0; /* Menghilangkan padding */  
}

/* BERITA */
.berita {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}
.berita .container h2{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
    position: relative;
}
.berita .container h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #3498db;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
}
.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}
.card-bodyy {
    padding: 20px;
    height: 150px;
    text-decoration: none;
    text-align: left;
}
.card-bodyy .news-date {
    font-size: 14px;
    color: #6c757d;
    text-decoration: none;
}
.news-title {
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}
.card-body {
    padding: 20px;
}
.custom-btn-color {
    color: #0093DD;
    border-color: #0093DD;
}
.custom-btn-color:hover {
    background-color: #0093DD;
    color: #fff;
}

/* PAGINATION */
.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: start; 
    flex-wrap: wrap; 
}
.page-item {
    margin: 2px;
}
.page-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.page-link:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #0056b3;
}
@media (max-width: 768px) {
    .page-link {
        padding: 6px 12px;
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .page-link {
        padding: 4px 8px;
        font-size: 12px;
    }
}

/* TEAM */
.team {
    padding: 60px 0;
    background: #f0f0f0;
}
.team .section-bg {
    background-color: #f7f8fa;
}
.team h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #333;
}
.team h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #3498db;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
}
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.team .member .pic {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.team .member .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.team .member .member-info {
    padding-left: 15px;
    margin: 15px;
}
.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}
.team .member span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #0093DD;
    font-weight: bold;
}
.team .member p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.team .member .social {
    margin-top: 15px;
}
.team .member .social a {
    color: #333;
    transition: color 0.3s;
    font-size: 16px;
    margin-right: 10px;
}
.team .member .social a:hover {
    color: #3498db;
}

/* FOOTER */
.footer {
    background: #333;
    color: #fff;
    padding: 40px 0;
}
.footer .footer-info,
.footer .footer-map {
    margin-bottom: 20px;
}
.footer h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}
.footer p {
    font-size: 14px;
    color: #bbb;
}
.footer .social a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
}
.footer .social a:hover {
    color: #3498db;
}
.footer .map {
    flex: 1;
    max-width: 350px;
    margin: 0 auto;
}
.footer .map iframe {
    width: 100%;
    border: 0;
}
.copyright {
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}