.header{
    background-color: #fff;
    padding: 15px 0;
}
.header-logo img{
    width: 100px;
    display: inline-block;
}
.header-text {
    padding-left: 20px; /* jarak kiri teks dari logo */
}
.header-text h1 {
    font-size: 25px; 
    margin-top: 5px; 
    font-weight: bold; 
    color: #0093DD;
}

.header-text p {
    margin-bottom: 10px;
    font-weight: bold;
}

nav.navbar {
    padding: 10px 0;
}
.navbar-nav .nav-item {
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: white !important; /* warna teks link */
    font-weight: bold;
    font-size: medium;
}
.navbar-nav .nav-item.active .nav-link {
    border-bottom: 3px solid #0093DD;
}
.navbar-nav .nav-link:hover {
    color: #0093DD !important; /* warna teks link saat dihover */
}
.btn.btn-outline-success {
    color: #0093DD;
    border-color: #0093DD;
}
.custom-toggler.navbar-toggler {
    background-color: rgb(194, 194, 194);
    border-color: transparent;
}
.custom-toggler.navbar-toggler:hover {
    color: #0093DD; /* warna ikon toggle saat dihover */
}
.search-button {
    margin-right: 10px;
}